body{
     font-family: 'Poppins', sans-serif;
}

.size{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
     margin: 3% 0 4% 0;
    
  
}

.s1{
    height: 40px;
    width: 50px;
    text-align: center;
    border: 2px solid gray;
}
.rs{
    font-weight: bold;
    font-size:x-large; 
    color: red;
}

.tax{
    color: gray;
    margin-left: 1%;
    font-size: 13px;
}

.orange{
    color: orange;
    text-decoration: underline;
}

.logo{
    margin-left: 25%;
}

.proimg{
    width: 56px;
    height: 58px;
    border: 2px solid orange;
}

.guide{
    margin-left: 70%;
}

.basket{
    width:100%;
    height: 52px;
    background-color: rgb(250,166,25);
    color: whitesmoke;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    font-weight:bolder;
}

.fa-heart{
     outline: black;
    cursor: pointer;
    color: red;
}

/* .fa-heart:hover{
    
    
} */

.promotion{
    margin: 0.5% 0 4% 0;
    color: rgb(227,79,76);
    border-radius: 2px;
    background-color: rgb(242,232,232);
    border: none;
    width: 40%;
    height: 30px;

}

.pincode{
    width: 60%;
    height: 35px;
    color: gray;
    padding-left: 1%;
    border: 1px solid rgb(202, 202, 202);
        
}

.check{
    border: none;
    height: 35px;
    width:55px;
    cursor: pointer;
    background-color: rgb(250,166,25);
    color: whitesmoke;

}

.red{
    color: red;
}

.price{
     font-size: 23px;
    font-weight: bold;
    border: 0px solid green;
}

.gray{
    color: gray;
}

.strike{
    text-decoration: line-through;
    font-size: 12px;
    margin-top: 1%;

}

.saving{
    font-size: 14px;
}

.free_shiping{
    font-size: 14px;
}

.earning_point{
    font-size: 14px;
}

.img_demo{
    margin-top: 3%;
    font-size: 15px;
}

.size_section{
    margin-top: 5%;
    color: gray;
}

.heart_logo{
    margin: 5% 0 5% 0;
    padding-bottom: 7%;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.black{
    color: black;
}

.gray_bar{
    color: rgb(255, 255, 255);
}